body {
    background-image: url('images/ChisolmPark.png');
}

.page-header img {
    width: 400px;
}

html {
    position:relative;
    min-height: 100%;
}
#logo {
    width: 300px;
}

#jumboLead {
    text-align: center;
    letter-spacing: 1.5px;
}

.jumbotron {
    height: auto;
    width: auto;
    margin-left: 150px;
    margin-right: 150px;
}


#mainNavigation {
    background-color: #b3b3cc;
    border-radius: 2px;
    font-size: 14px;
    letter-spacing: 2px;
    width: 470px;
}

a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

hr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

footer {
    background-color: dimgray;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    overflow:hidden;
    font-variant: small-caps;
    color:white;
    text-align: center;
}

#conduct {
    border-radius: 3px;
    background-color: lightgray;
    text-align: center;
    border: solid #B7ADAD 1px;
    box-shadow: #b3b3cc 0px 5px 2px 2px;
    /* margin-left: 370px; */
}

/*#contactForm {
    padding: 10px;
}

#inputEmail, #submit {
    width: 400px;
}

#inputText {
    width: 400px;
    height: 100px;
}*/

.list-inline {
    font-variant: normal;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;

}

.list-inline a:hover {
       background-color: white;
       text-decoration: none;
       letter-spacing: 2px;
       border-radius: 2px;
}

.table {
    background-color: lightgray;
    border-radius: 2px;
}

#eventLabel {
    margin: 0px auto;
}